Hi this is mchm.

POST json to http://mchm.ho.kanetix.com/api/submit/

  curl {{url}}/api/submit -X POST -H "Content-type:application/json" -d '{"user-data":"this is userdata","meta-data":"this is metadata"}'

GET metadata at {{url}}/api/[some docid]/

  curl {{url}}/api/[some docid]/
  curl {{url}}/api/[some docid]/user-data
  curl {{url}}/api/[some docid]/meta-data

That's about it.
