Hi this is mchm.

POST json to {{url}}/api/submit/

  curl {{url}}/api/submit -X POST -H "Content-type:application/json" -d '{"user-data":"this is userdata","meta-data":"this is metadata"}'

GET metadata at {{url}}/api/[instance_id]/

  curl {{url}}/api/[instance_id]/
  curl {{url}}/api/[instance_id]/user-data
  curl {{url}}/api/[instance_id]/meta-data

That's about it.
